<h1>Profile Page</h1>

<form id="newCardForm">
    <input type="text" name="name" placeholder="Name" id="newCardName">
    <textarea id="newCardDescription" placeholder="Description"></textarea>
    <button>Create Card</button>
</form>
